<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/base}">

    <th:block layout:fragment="css">
        <link th:href="@{/css/board.css}" rel="stylesheet">
    </th:block>

    <th:block layout:fragment="content">
        <main id="content">
            <h2>게시판 본문글</h2>
            <table class="table">
                <thead><tr><td>
                    <button type="button" class="btn btn-light">
                        이전게시물</button>
                    &nbsp;
                    <button type="button" class="btn btn-light">
                        다음게시물</button></td>
                    <td class="text-end">
                        <button type="button" class="btn btn-primary">
                            새글쓰기</button></td>
                </tr>
                </thead>
                <tbody>
                <tr><th class="vtit" colspan="2" th:text="${bd.title}">제목</th></tr>

               <tr><td th:text="${bd.userid}" class="vinfo">작성자</td>
                    <td class="text-end vinfo" th:text="|${bd.regdate}/${bd.thumbs}/${bd.views}|">작성일/추천/조회</td></tr>

                <tr><td class="vcont" colspan="2" th:text="${bd.contents}">본문글</td></tr>
                </tbody>
                <tfoot><tr><td>
                    <button type="button" class="btn btn-warning">
                        수정하기</button>
                    &nbsp;
                    <button type="button" class="btn btn-danger">
                        삭제하기</button></td>
                    <td class="text-end"><button type="button" class="btn btn-light">
                        목록으로</button></td>
                </tr>
                </tfoot>
            </table>
        </main>
    </th:block>

    <th:block layout:fragment="script">
    </th:block>

</html>